$red: #db334f;
$borderHeight: 2px;
$borderStyle: solid;
$gray: #f4f4f4;
$headingColor: #393939;
$bg: #262f34;
$imgBorderRadius: 2px;
$imgBorderRadiusLeft: 0;
$imgBorderRadiusRight: 0;

$headingFontSize: 21px;
$headingTextSize: 15px;
$black: black;

$white: #ffffff;

$grayDarken: #d1d3d4;
$box-shadow: lighten($black, 17%) 0px 7px 5px;

$mainFont: "titilium";
$secondFont: $monospace;
